/****Form****/

#form {
padding-top: 3px;
}

#form input {
    color:#263555;
     border: 1px solid #d4d0d0;
 padding: 4px 10px 6px;
    width: 100%;
    background-color: #fcfafa;
    text-transform: uppercase;
    height: 28px;
    float:left;
    font: 13px/18px  Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
    color:#263555;
    height: 233px;
    text-transform: uppercase;
    overflow: auto;
    background-color: #fcfafa;

     border: 1px solid #d4d0d0;
 padding: 15px 10px 6px;
    width: 100%;
    position: relative;
    resize:none;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    float:left;
    font: 13px/18px  Arial, Helvetica, sans-serif;
    margin: 0;

}
#form label {
    position:relative;
    display: block;
    min-height: 45px;
    width: 100%;
    float: left;
}





#form .error, #form .empty {
    color: #FF0000;
    display: none;
    font-size: 11px;
    line-height:14px;
    width:auto;
    position: absolute;
    z-index: 999;
    right: 5px;
    top: 7px;
    float:left;
}


#form .error-empty {
    display:none;
    float:left;
}

.btns {
    position:relative;
    padding-top: 22px;
    text-align: right;

}


.btns a.btn {
    margin: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.btns a.btn {
    margin-left: 18px !important;
}

#form .message {
    width: 100%;
    margin-top: -3px;
}

#form .btns span {
    display: inline-block;
    width: 13px;
}


.message br {
    height: 0;
    line-height: 0;
}

#form .success {
    text-transform: uppercase;
    display: none;
    position: absolute;
    width: 100%;
    font-size: 16px;
    background: #fcfafa;
    color:#263555;
    border: 1px solid #d4d0d0;
    text-align: center;
    font-size: 11px;
    padding: 20px 10px;
    z-index: 999;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}



.success_wrapper {
    position: relative;
}