.button {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add.active
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button:visited
  {
    color: #eee;
  }
  .button:hover
  {
    box-shadow:none;
  }
  .button:active,
  .button.active {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active {
    color: #eee;
  }
  .dialog {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog:after,
  .dialog:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup2*/
  .button11 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add11
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add11.active11
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button11:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button11:visited
  {
    color: #eee;
  }
  .button11:hover
  {
    box-shadow:none;
  }
  .button11:active,
  .button11.active11 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active11 {
    color: #eee;
  }
  .dialog11 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog11:after,
  .dialog11:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog11:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog11:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog11 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog11 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
   /*popup3 kodai*/
   .button22 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add22
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add22.active22
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button22:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button22:visited
  {
    color: #eee;
  }
  .button22:hover
  {
    box-shadow:none;
  }
  .button22:active,
  .button22.active22 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active11 {
    color: #eee;
  }
  .dialog22 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog22:after,
  .dialog22:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog22:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog22:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog22 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog22 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup4 rameshwaram*/
  .button33 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add33
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add33.active33
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button33:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button33:visited
  {
    color: #eee;
  }
  .button33:hover
  {
    box-shadow:none;
  }
  .button33:active,
  .button33.active22 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active33 {
    color: #eee;
  }
  .dialog33 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog33:after,
  .dialog33:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog33:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog33:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog33 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog33 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
   /*popup5 hogenakal*/
   .button44 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add44
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add44.active44
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button44:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button44:visited
  {
    color: #eee;
  }
  .button44:hover
  {
    box-shadow:none;
  }
  .button44:active,
  .button44.active44 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active44 {
    color: #eee;
  }
  .dialog44 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog44:after,
  .dialog44:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog44:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog44:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog44 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog44 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup6 black thunder*/
  .button55 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add55
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add55.active55
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button55:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button55:visited
  {
    color: #eee;
  }
  .button55:hover
  {
    box-shadow:none;
  }
  .button55:active,
  .button55.active55 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active55 {
    color: #eee;
  }
  .dialog55 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog55:after,
  .dialog55:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog55:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog55:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog55 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog55 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup7 TANJORE*/
  .button66 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add66
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add66.active66
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button66:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button66:visited
  {
    color: #eee;
  }
  .button66:hover
  {
    box-shadow:none;
  }
  .button66:active,
  .button66.active66 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active66 {
    color: #eee;
  }
  .dialog66 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog66:after,
  .dialog66:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog66:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog66:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog66 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog66 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup8 sri rangam*/
  .button77 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add77
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add77.active77
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button77:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button77:visited
  {
    color: #eee;
  }
  .button77:hover
  {
    box-shadow:none;
  }
  .button77:active,
  .button77.active77 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active77 {
    color: #eee;
  }
  .dialog77 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog77:after,
  .dialog77:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog77:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog77:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog77 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog77 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
  /*popup9 NAGAPATTINAM*/
  .button88 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0px 30px;
    display: block;
    height: 10%;
    max-width:20px;
    line-height: 39px;
    border: 3px solid #e20ed7;
    border-width: 1px 1px;
    box-shadow: 0px 0px 4px #ddf50b;
    transition: box-shadow .2s linear;
  }
  nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
  }
  
  .add88
  {
    transition: box-shadow .2s linear, margin .3s linear .5s;
  }
  .add88.active88
  {
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
  }
  .button88:link
  {
    color: #eee;
    text-decoration: none;
  }
  .button88:visited
  {
    color: #eee;
  }
  .button88:hover
  {
    box-shadow:none;
  }
  .button88:active,
  .button88.active88 {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0px 0px 4px #C24032 inset;
  }
  nav ul li a:active {
    color: #eee;
  }
  nav ul li a.active88 {
    color: #eee;
  }
  .dialog88 {
    position: relative;
    text-align: center;
    background: #0e0f0f;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
  }
  .dialog88:after,
  .dialog88:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dialog88:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #d5e0e7;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
  }
  .dialog88:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  .dialog88 .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e2e6e9;
    border-width: 0px 0px 1px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    background: #2d6494;
    box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
  }
  .dialog88 .title:first-child {
    margin-top: -4px;
  }
  form
  {
    padding:16px;
    padding-top: 0;
  }
  select[name=type]
  {
  appearance:none;
      border-radius: 0;
  }
  textarea,input[type=text],input[type=datetime-local],input[type=time],select
  {
    color: #fff;
    border: 0;
    outline: 0;
    resize: none;
    margin: 0;
    margin-top: 1em;
    padding: .5em;
    width:100%;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    background:#5d92ba;
  }
  input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
    background-color: #4478a0;
  }
  input[type=submit]
  {
    border:none;
    background: #FAFEFF;
    padding: .5em 1em;
    margin-top: 1em;
    color:#4478a0;
  }
  input[type=submit]:active
  {
    background: #E1E5E5;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color: #FAFEFF;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #FAFEFF;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
  }
/*popup10 KANYAKUMARI*/
.button99 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add99
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add99.active99
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button99:link
{
  color: #eee;
  text-decoration: none;
}
.button99:visited
{
  color: #eee;
}
.button99:hover
{
  box-shadow:none;
}
.button99:active,
.button99.active99 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active99 {
  color: #eee;
}
.dialog99 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog99:after,
.dialog99:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog99:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog99:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog99 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog99 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup11 DHANUSHKODI*/
.button10 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add10
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add10.active10
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button10:link
{
  color: #eee;
  text-decoration: none;
}
.button10:visited
{
  color: #eee;
}
.button10:hover
{
  box-shadow:none;
}
.button10:active,
.button10.active10 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active10 {
  color: #eee;
}
.dialog10 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog10:after,
.dialog10:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog10:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog10:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog10 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog10 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup12 CONNOOR*/
.button12 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add12
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add12.active12
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button12:link
{
  color: #eee;
  text-decoration: none;
}
.button12:visited
{
  color: #eee;
}
.button12:hover
{
  box-shadow:none;
}
.button12:active,
.button12.active12 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active12 {
  color: #eee;
}
.dialog12 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog12:after,
.dialog12:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog12:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog12:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog12 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog12 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup13 CONNOOR*/
.button13 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add13
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add13.active13
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button13:link
{
  color: #eee;
  text-decoration: none;
}
.button13:visited
{
  color: #eee;
}
.button13:hover
{
  box-shadow:none;
}
.button13:active,
.button13.active13 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active13 {
  color: #eee;
}
.dialog13 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog13:after,
.dialog13:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog13:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog13:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog13 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog13 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup14 VELLORE*/
.button14 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add14
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add14.active14
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button14:link
{
  color: #eee;
  text-decoration: none;
}
.button14:visited
{
  color: #eee;
}
.button14:hover
{
  box-shadow:none;
}
.button14:active,
.button14.active14 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active14 {
  color: #eee;
}
.dialog14 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog14:after,
.dialog14:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog14:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog14:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog14 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog14 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup15 madurai*/
.button15 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add15
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add15.active15
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button15:link
{
  color: #eee;
  text-decoration: none;
}
.button15:visited
{
  color: #eee;
}
.button15:hover
{
  box-shadow:none;
}
.button15:active,
.button15.active15 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active15 {
  color: #eee;
}
.dialog15 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog15:after,
.dialog15:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog15:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog15:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog15 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog15 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup16 santuries park*/
.button16 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add16
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add16.active16
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button16:link
{
  color: #eee;
  text-decoration: none;
}
.button16:visited
{
  color: #eee;
}
.button16:hover
{
  box-shadow:none;
}
.button16:active,
.button16.active16 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active16 {
  color: #eee;
}
.dialog16 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog16:after,
.dialog16:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog16:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog16:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog16 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog16 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup17 santuries park*/
.button17 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add17
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add17.active17
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button17:link
{
  color: #eee;
  text-decoration: none;
}
.button17:visited
{
  color: #eee;
}
.button17:hover
{
  box-shadow:none;
}
.button17:active,
.button17.active17 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active17 {
  color: #eee;
}
.dialog17 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog17:after,
.dialog17:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog17:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog17:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog17 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog17 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}
/*popup18 sivaganagai*/
.button18 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 30px;
  display: block;
  height: 10%;
  max-width:20px;
  line-height: 39px;
  border: 3px solid #e20ed7;
  border-width: 1px 1px;
  box-shadow: 0px 0px 4px #ddf50b;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}

.add18
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add18.active18
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button18:link
{
  color: #eee;
  text-decoration: none;
}
.button18:visited
{
  color: #eee;
}
.button18:hover
{
  box-shadow:none;
}
.button18:active,
.button18.active18 {
  color: #eee;
  border-color: #C24032;
  box-shadow: 0px 0px 4px #C24032 inset;
}
nav ul li a:active {
  color: #eee;
}
nav ul li a.active18 {
  color: #eee;
}
.dialog18 {
  position: relative;
  text-align: center;
  background: #0e0f0f;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog18:after,
.dialog18:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog18:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #d5e0e7;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog18:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog18 .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e2e6e9;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #2d6494;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog18 .title:first-child {
  margin-top: -4px;
}
form
{
  padding:16px;
  padding-top: 0;
}
select[name=type]
{
appearance:none;
    border-radius: 0;
}
textarea,input[type=text],input[type=datetime-local],input[type=time],select
{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:100%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}
input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #4478a0;
}
input[type=submit]
{
  border:none;
  background: #FAFEFF;
  padding: .5em 1em;
  margin-top: 1em;
  color:#4478a0;
}
input[type=submit]:active
{
  background: #E1E5E5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #FAFEFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#FAFEFF;
}